<section class="artists">
{{#each artists}}

<div class="row col-md-6 col-sm-12">
<h3>{{this.name}}</h3>

<img src="{{this.images.0.url}}" alt="Picture of {{this.name}}"/>

 <button class="albums"><a href="/albums/{{id}}">View Albums</a></button> 

</div>
 {{/each}}

 </section>